<!DOCTYPE html>
<html>

<head>

<title>NDC BACTH 2023</title>
<h1>NDC BACTH 2026</h1>
<style>

body{
font-family: Arial;
background-color:#f2f2f2;
}

.container{
width:400px;
margin:auto;
margin-top:60px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
text-align:center;
color:#2c3e50;
}

p{
font-size:18px;
}

.logout{
display:block;
text-align:center;
margin-top:20px;
background:#3498db;
color:white;
padding:10px;
text-decoration:none;
border-radius:5px;
}

.logout:hover{
background:#2980b9;
}

</style>

</head>


<body>

<div class="container">

<h1>NDC BACTH 2023</h1>

<img src="{{ url_for('static',filename='photos/'+student.photo) }}" width="120">

<p><b>Name:</b> {{ student.name }}</p>

<p><b>Attendance:</b> {{ student.attendance }}</p>

<p><b>Fees Balance:</b> {{ student.fees }}</p>

<p><b>Course:</b> {{ student.course }}</p>

<br><br>
<h3>Results</h3>

<a href="https://ruk.ac.in/results/ugresults2.php?id=ug_i_sem_reg_sup_january_2024" target="_blank">
<button>Semester 1 Result</button>
</a>

<br><br>

<a href="https://ruk.ac.in/results/ugresults2.php?id=ug_ii_sem_reg_june_2024" target="_blank">
<button>Semester 2 Result</button>
</a>

<br><br>

<a href="https://ruk.ac.in/results/ugresults2.php?id=ug_iii_sem_reg_sup_november_2024" target="_blank">
<button>Semester 3 Result</button>
</a>

<br><br>

<a href="https://ruk.ac.in/results/ugresults2.php?id=ug_iv_sem_reg_may_2025" target="_blank">
<button>Semester 4 Result</button>
</a>

<br><br>

<a href="https://www.ruk.ac.in/results/ugresults2.php?id=ug_v_sem_reg_sup_november_2025" target="_blank">
<button>Semester 5 Result</button>
</a>

<a class="logout" href="/">Logout</a>

</div>

</body>

</html>
